.footer {
    text-align: center;
    padding: 10px 10px 0px 10px;
    background-color: #f8f9fa; /* Light background color */
    border-top: 1px solid #dee2e6; /* Optional: Adds a border at the top */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  